/************************
GENERAL
*****************************/
.wrapper{
	min-height: calc(100vh - 250px);

}
ul, ol {

		list-style:none;
}
.container-fluid{
	margin:0 0 0 0;
	padding:0 0 0 0;
}
.fixed-container{

	display:block;
	margin:0 auto;
	max-width:1200px;
}

*{
	overflow-x:hidden;
}

h1{
	overflow:hidden;
}

.not_visible{
	visibility: hidden;
}

.yes_visible{
	visibility: visible;
}



a,a:active, a:hover, a:visited, a:focus{
     color: #ccc;
}


/************************
EFFECTS
*****************************/

.pieces img:hover {
	opacity: 0.5;
	transition: opacity 0.6s linear;
}
/************************
ELEMENTS
*****************************/


.glyphicon {
    
    font-size:1.4em;
    overflow-y:hidden;
    margin-top:25px;
    margin-bottom:20px;
    
   
}

.header{
	background-color: #383e3e;
	width:100%;
	margin: 0;
 

}


.logo{
	width:50px;


}
.burger{


	cursor:pointer;
	width:50px;
	display: inline-block;

}

.right{
	text-align:right;
}

.menu{

	text-align:right;
}

.pieces{
	margin-top:25px;
}
.pieces img{

	padding:0.5em;
	cursor:pointer;
	position:relative;
   
}
.img-c{
	position:relative;
	z-index:100;
}
.des{
	position:absolute;
	z-index:999;
	transform: translate(50px, 0);
}
/************************
FILTER
*****************************/
.work_filter{
	display:none;
	margin-top:125px;
}

.work_filter ul {
	display: flex;
	justify-content:space-around;
	color: #ccc;
	font-size: 1.2em;
	font-family: 'Roboto', sans-serif;

}
.work_filter ul li{
	width:100%;
	text-align:center;
	padding: 5px 0;
	cursor: pointer;
  
}

.work_filter ul a {
    width: 100%;
}

.category{
	background-color:#383e3e;
   
}
/************************
FOOTER
*****************************/
.footer{
		text-align:  center;
		background-color: #f2f2f2;
		height:600px;
}
.footer ul, ol {

		font-size: 0.8em;
		padding: 0;

}
.footer ul{
	color: #717171;

}
.footer ol li{
	display:inline-block;
	padding:5px;
}
.footer ul li:first-child {

		color: #393f3e;
		font-size:1.1em;
		background:#d5d3d3;
		padding:10px;


}
.footer ul li{
	padding:1px;
}

.hide{
	display:none;
}


/************************
NAVIGATION
*****************************/
.mobile-navigation{

	position:absolute;
	transform: translate(5000px, 0);
	font-size: 1.3em;
}

.back{
	transform: translate( 0, 0);
	position:relative;
	text-align:center;
	padding-right: 2em;

}

.mobile-navigation ul li{
	padding: 5px;

}
.desktop-navigation{
	display:none;
}

/************************
LIGHTBOX
*****************************/

.lightbox_p{
	font-size: 0.8em;
	line-height:1.8em;
	padding: 6px 10px;
}

.lightbox_thumb{
	display:none;
	padding: 10px 5px;
 
}
.arrow{

    padding-top:10px;
    cursor:pointer;
}

.lightbox_h1{
	padding:20px;
}




/*********************************************************8/

/* Small devices (tablets, 768px and up) */
@media(min-width:768px){

	.pieces{
		text-align:center;
	}

	.lightbox_thumb{
		display: block;
	}



}

/* Medium devices (desktops, 992px and up) */
@media(min-width:992px){


	.logo{
		width:100px;
	}


	.footer{
		text-align:left;
		height: 200px;
		margin-top:100px;

	}
	.footer ul li:first-child {

		color: #393f3e;
		font-size:1.1em;
		background: none;
		padding: 10px 0 0 0;

}

	.footer ol li{
		padding-top: 10px;
	}

	.lightbox_p{
	font-size: 1.2em;
	line-height:1.8em;
	padding: 5px;
}	
	.work_filter{
		display:block;
      }
      
     .burger {
         display: none;
     }



}


@media(min-width:1200px){

	.desktop-navigation{
		color: white;
		display:inline-block;
		padding-top:10px;
		font-family: 'Roboto', sans-serif;

	}
	.desktop-navigation ul{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
        margin-top:20px;
	}
	.desktop-navigation ul li{
		font-size:1.3em;
		cursor: pointer;
	}
    
    .pieces img{
         max-height: 214px;
    }
	
}